.card {
    max-width: 600px;
    min-width: 320px;
    height: fit-content;
    font-size: 10px;
    font-weight: 500;
}

.top_bar {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    background: #ff4800;
    color: white;
    font-size: 10px;
    gap: .5rem;
}

.card_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #d1460e;
    color: white;
}

.card_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.bar {
    width: 40px;
    height: 8px;
    border: 1px solid #ff9d00;
    background: #ff9d00;
    border-radius: 4px;
}

.status_div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    color: whitesmoke;
    background: #ff9d00;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 3px solid #ff9d00;
}

.date {
    color: aliceblue;
    font-weight: 500;
}

.pending {
    background: green;
    border: 3px solid green;
}
