.card {
    max-width: 600px;
    min-width: 320px;
    height: fit-content;
    font-size: 10px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    color: coral;
}

h2:nth-child(1) {
    padding-top: 1rem;
}

.card_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.my_div span {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    padding: .5rem 0;
}


.date {
    color: aliceblue;
    font-weight: 500;
}

.pending {
    background: green;
    border: 3px solid green;
}
